<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/single.css') }}">

</head>
<body>
    <form method="POST" action="{{url_for('instalar_musica')}}">
        <h1>Insira o nome da música:</h1>
        <input type="text" id="musica" name="musica" required>
        <button type="submit">Instalar Música</button>
    </form>
    
</body>
</html>